@import './helpers/mixins';
@import './helpers/bem';
@import './vars';
@import './input';

@include B(cron) {
    width: 800px;
    font-size: 14px;
    overflow: hidden;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid $border-color;
    @include when(disabled) {
        @include E(header) {
            opacity: 0.8;
        }
        @include E(item) {
            cursor: not-allowed;
            &:hover {
                color: #777777;
                background-color: transparent;
            }
            @include when(active) {
                background-color: #FFFFFF;
                border-color: $border-color;
            }
        }
    }
    @include when(disabled readonly) {
        @include E(am pm) {
            color: #C0C4CC;
        }
    }
    @include E(header) {
        padding: 6px 15px 0;
        background-color: $header_bg;
        @include flex(center, row nowrap);
        border-bottom: 1px solid $border-color;
        @include E(item) {
            cursor: pointer;
            color: #777777;
            user-select: none;
            padding: 5px 12px;
            margin-bottom: -1px;
            border: 1px solid transparent;
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &:hover {
                background-color: #dddddd;
            }
            @include when(active) {
                background-color: #FFFFFF;
                border-color: $border-color;
            }
        }
    }
    @include E(body) {
        text-align: left;
        padding: 10px 15px;
        @include E(p) {
            height: 26px;
            line-height: 26px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        @include E(time) {
            padding-left: 25px;
        }
        @include E(radio) {
            margin-right: 0 !important;
            @include when(checked) {
                .el-radio__label {
                    color: inherit !important;
                }

            }
            @include when(disabled) {
                .el-radio__label {
                    color: #C0C4CC !important;
                }
            }
        }
        @include E(checkbox) {
            margin-right: 15px !important;
        }
    }
}
